<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sathya Vathani</title>
    <style>
        h1{
            font-family: Roboto;
            font-size:40px;
            color: rgb(0, 65, 90);
            text-align:center;
        }
        #i1{
            object-fit: cover;
            width:98%;
            margin:15px;
        }
        p{
            font-family:Roboto;
        }
        #container{
            width:65%;
            margin: auto;
        }
    </style>
</head>
<body>
    <div id ="container">
        <h1>TCS Coaching</h1>
        <img id='i1' src="https://07c744b1-50fb-48aa-85ac-d589b1338ad4-00-27xrgjd93f521.sisko.replit.dev/static/i1.jpg" width=500px >
    
        <h1>About TCS</h1>
        <p>but also the leap into electronic typesetting,             remaining essentially unchanged. It was                     popularised in the 1960s with the release of                Letraset sheets containing Lorem Ipsum passages,            and more recently with desktop publishing                   software like Aldus PageMaker including versions            of Lorem Ipsum
        </p>
    
        <h1>Job Opennings</h1>
        <p>TODO - Show jobs here </p>
        <div style="text-align:center;">
            <button>Contact Us</button>
        </div>
    </div>   
</body>
</html>